/target
/.env
/Cargo.lock
/auth.json
/dist/
/dummy.txt
/htmx.min.js
/inventory.sqlite3
/lastData.dat
/lastDataAdded.dat
/lastDataControl.dat
/lastDataSubtracted.dat
/out
/out.txt
/pkgs.txt
/rivenData.json
/src/rivens/inventory/mock_riven_lookup.json
/todo
/inventory.sqlite
/rivens.json
/rivens_pretty.json
/key.pem
/openssl.cnf
/refresh-certificates.sh
/sample.pem
/sample.rsa
/ws.js
/rivenLookupData.json
/inventory_db.sqlite3
/test_db.sqlite3
*.zip
